body {
  font-family: Arial, sans-serif;
  background: #f1f1f7;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
  font-size: 32px;
  color: #1f2937;
}

.card {
  width: 60%;
  margin: 0 auto 50px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 18px;
}

.section {
  margin: 40px auto;
  width: 70%;
  text-align: left;
}

h2 {
  margin-top: 30px;
  color: #1f2937;
}
